kserve_raw_deepseek_tests.log
kserve_raw_falcon_tests.log
kserve_raw_granite38b_tests.log
kserve_raw_granite8b_tests.log
kserve_raw_llama1b_tests.log
kserve_raw_llama3b_tests.log
kserve_raw_metallama8b_tests.log
kserve_raw_ministral3b_tests.log
kserve_raw_mistral7b_tests.log
kserve_raw_phi3_tests.log
serve_raw_phi4_tests.log
model.patch
model_serving_tests/tests/model_deployment/__pycache__/test_elyza-japanese-llama-2-7b-instruct.cpython-311-pytest-8.3.3.pyc
model_serving_tests/tests/model_deployment/__pycache__/test_falcon3_7b_instruct.cpython-311-pytest-8.3.3.pyc
model_serving_tests/tests/model_deployment/__pycache__/test_granite_3_3_8b_instruct.cpython-311-pytest-8.3.3.pyc
model_serving_tests/tests/model_deployment/__pycache__/test_granite_8b_instruct_preview_4k_r240917a.cpython-311-pytest-8.3.3.pyc
model_serving_tests/tests/model_deployment/__snapshots__/test_granite_3_1_8b_instruct/
model_serving_tests/tests/model_deployment/__snapshots__/test_granite_3_3_8b_instruct/
model_serving_tests/tests/model_deployment/__snapshots__/test_mistral_7b_instruct/
model_serving_tests/tests/model_deployment/__snapshots__/test_phi_4/
model_serving_tests/tests/quantization/__pycache__/
performance_report.csv
performance_report.json
performance_report.xlsx
poetry.patch
report.html
kserve_raw_phi4_tests.log
model_serving_tests/tests/model_deployment/__snapshots__/test_llama_3_2_1b_instruct/test_llama_3_2_1b_instruct_simple[llama-3-2-1b-instruct-RawDeployment].1.json
model_serving_tests/tests/model_deployment/__snapshots__/test_llama_3_2_3b_instruct/test_llama_3_2_3b_instruct_simple[llama-3-2-3b-instruct-RawDeployment].1.json
